<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/nav') %>

        <h1>Details</h1>

        <% if(singleCard) {%>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img src="<%= singleCard.image %>" class="img-fluid" alt="">
                    </div>
                    <div class="col-6">
                        <h1>
                            <%= singleCard.title %>
                        </h1>
                        <p>
                            <%= singleCard.desc %>
                        </p>
                        <button class="btn btn-dark">
                            <%= singleCard.price %>
                        </button>
                    </div>
                </div>
            </div>
            <%} %>
</body>

</html>